<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Xét tuyển 2026</title>
        <link rel="stylesheet" href="Style/base.css" />
        <link rel="stylesheet" href="Style/components.css" />
    </head>
    <body>
        <div id="header-root"></div>
        <main id="app"></main>

        <script type="module" src="Scripts/bootstrap.js"></script>

        <script type="module" src="Scripts/app.js"></script>
        <script type="module" src="Scripts/pages/__init_pages.js"></script>
    </body>
</html>
